{% extends "checkout/details.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}
{% load materializecss %}

{% block forms %}
<p>Hi there {{ step.storage.main_service_id }}</p>
<!--action: cart:update-line ??????-->
<form id="service-form" role="form" class="product-form form-vertical" method="post" action=".">
    {% csrf_token %}
    {{ step.forms.service_form.variant|materializecss }}
    {{ step.forms.service_form.quantity|materializecss }}
</form>

<form id="datetime-form" role="form" class="product-form form-vertical" method="post" action=".">
    {% csrf_token %}
    {{ step.forms.service_datetime_form.time|materializecss }}
    {{ step.forms.service_datetime_form.date|materializecss }}

</form>

<div class="form-group">
    <div>
        <a href="{% url "checkout:index" %}" class="btn btn-primary btn-lg pull-right">{% trans "Proceed to Adress" %}</a>
    </div>
</div>

{% endblock forms %}


{% block footer_extra_scripts %}
    $("#service-form").change(function(event){
        event.preventDefault();
        var formData = $("#service-form").serialize();
        <!--console.log(formData);-->
        $.ajax({
            type: "POST",
            url: '{% url "checkout:update_details" %}',
            data: formData,
            success: function(data){
                $("#total").text(data.total);
                // and others too..
            },
            error: function(response, error){
                console.log(response);
                console.log(error);
            }
        })
    });
    $("#datetime-form").change(function(event){
        event.preventDefault();
        var formData = $("#datetime-form").serialize();
        <!--console.log(formData);-->
        $.ajax({
            type: "POST",
            url: '{% url "checkout:update_details" %}',
            data: formData,
            success: function(data){
                $("#date").text(data.date);
                $("#time").text(data.time);
            },
            error: function(response, error){
                console.log(response);
                console.log(error);
            }
        })
    });

{% endblock footer_extra_scripts %}
