{% extends "checkout/details.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}

{% block forms %}
<p>Hi there {{ step.storage.main_service_id }}</p>
<!--action: cart:update-line ??????-->
<form role="form" class="product-form form-vertical" method="post" action="{% url "checkout:update_details" which_service=step.storage.main_service_id%}">
    {% csrf_token %}
    {{ step.forms.service_form|as_vertical_form }}

    <div class="form-group">
        <button class="btn btn-lg btn-block btn-primary">
            {% trans "Add to cart" %}
        </button>
    </div>
</form>

{% endblock forms %}
